<div class="navbar navbar-default navbar-static-top" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="ion-ios7-pulse-strong"></i> Papamaman</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>

            <li ng-if="user.isLoggedIn"><a href="/#/profile">Profile</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li ng-if="user.isLoggedIn"><a href="/#/logout" ng-click="logout()">Logout</a></li>
            <li ng-if="!user.isLoggedIn"><a href="/#/login">Login</a></li>
            <li ng-if="!user.isLoggedIn"><a href="/#/signup">Sign up</a></li>
        </ul>
    </div>
</div>