<div ng-include="'views/header/header.html'"></div>

<div ng-include="'views/alerts/index.html'"></div>

<div class="container">
    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">
                <h2 class="text-center">So you forgot your password?</h2>
                <p class="text-center text-muted">No problem, we'll send you a link to reset it. Just provide us your email address.</p>
                <form method="post" ng-submit="askResetPasswordInstructions()" name="forgotPasswordForm">
                    <div class="form-group has-feedback" ng-class="{ 'has-error' : forgotPasswordForm.email.$invalid && forgotPasswordForm.email.$dirty }">
                        <input class="form-control input-lg" type="email" name="email" ng-model="email" placeholder="Email" required autofocus>
                        <div class="help-block text-danger" ng-if="forgotPasswordForm.email.$dirty" ng-messages="forgotPasswordForm.email.$error">
                            <div ng-message="required">Your email address is required.</div>
                            <div ng-message="email">Your email address is invalid.</div>
                            <div ng-message="server">{{ resetPasswordForm.email.$error.server }}</div>
                        </div>
                    </div>

                    <button type="submit" ng-disabled="forgotPasswordForm.$invalid" class="btn btn-lg  btn-block btn-success">Send me instructions, please.</button>
                </form>
            </div>
        </div>
    </div>
</div>