<div ng-include="'views/header/header.html'"></div>

<div ng-include="'views/alerts/index.html'"></div>

<div class="container">
    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">
                <h2 class="text-center">Reset password</h2>
                <form method="post" ng-submit="resetPassword()" name="resetPasswordForm">
                    <div class="form-group has-feedback" ng-class="{ 'has-error' : resetPasswordForm.email.$invalid && resetPasswordForm.email.$dirty }">
                        <input class="form-control input-lg" type="email" name="email" ng-model="email" placeholder="Email" required autofocus>
                        <div class="help-block text-danger" ng-if="resetPasswordForm.email.$dirty" ng-messages="resetPasswordForm.email.$error">
                            <div ng-message="required">Your email address is required.</div>
                            <div ng-message="email">Your email address is invalid.</div>
                            <div ng-message="server">{{ resetPasswordForm.email.$error.server }}</div>
                        </div>
                    </div>

                    <button type="submit" ng-disabled="resetPasswordForm.$invalid" class="btn btn-lg  btn-block btn-success">Reset password</button>
                </form>
            </div>
        </div>
    </div>
</div>