<div ng-include="'views/header/header.html'"></div>

<div ng-include="'views/alerts/index.html'"></div>

<div class="container">
    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">
                <h2 class="text-center">Reset your password</h2>
                <p class="text-center text-muted">No problem, we'll send you a link to reset it. Just provide us your email address.</p>
                <form method="post" ng-submit="resetPassword()" name="resetPasswordForm">
                    <div class="form-group has-feedback" ng-class="{ 'has-error' : resetPasswordForm.password.$invalid && resetPasswordForm.password.$dirty }">
                        <input password-strength class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required minlength="8">
                        <div class="help-block text-danger" ng-if="resetPasswordForm.password.$dirty" ng-messages="resetPasswordForm.password.$error">
                            <div ng-message="required">A password is required.</div>
                            <div ng-message="minlength">Your password is too short (minimum 8 characters).</div>
                            <div ng-message="server">The link you followed to reset your password {{ resetPasswordForm.password.$error.server }}.</div>
                        </div>
                    </div>

                    <div class="form-group has-feedback" ng-class="{ 'has-error' : resetPasswordForm.passwordMatch.$invalid && resetPasswordForm.passwordMatch.$dirty }">
                        <input class="form-control input-lg" type="password" name="passwordMatch" ng-model="passwordMatch" placeholder="Confirm password" required password-match="password">
                        <div class="help-block text-danger" ng-if="resetPasswordForm.passwordMatch.$dirty" ng-messages="resetPasswordForm.passwordMatch.$error">
                            <div ng-message="match">Passwords don't match.</div>
                        </div>
                    </div>

                    <button type="submit" ng-disabled="resetPasswordForm.$invalid" class="btn btn-lg  btn-block btn-success">Reset password</button>
                </form>
            </div>
        </div>
    </div>
</div>